:root {
  --accent-color: #2196f3;
  --primery-text-color: #212121;
  --secondary-text-color: #757575;
  --text-color: #000000;
  --title-white-color: #ffffff;
  --background-primary-color: #ffffff;
  --background-secondary-color: #2f303a;
  --background-tertiary-color: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-primary-color);
}

.list {
  list-style: none;
}

/* ___________________HEADER_________________ */

.header {
  text-decoration: none;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-decoration: inherit;
}
.logo-color {
  color:var(--accent-color);
}


.header-list-link,
.contact-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  text-decoration: inherit;
}

.header-list .header-list-link:hover,
.header-list .header-list-link:focus {
  color: var(--accent-color);
}



.contact-item:hover,
.contact-item:focus {
  color: var(--accent-color);
}

/* ___________________HERO_______________________ */

.hero {
  background-color: var(--background-secondary-color);
}
.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-white-color);
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--title-white-color);
  background-color: var(--accent-color);
}

/* __________________BENEFITS_________________ */


.benefits-title {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-text-color);
}
.benefits-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* _______________________WORK___________________ */

.work-title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

/* ___________________TEAM__________________ */

.team {
  background-color: var(--background-tertiary-color);
}
.team-title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.member-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
.team-list-text {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* ____________FOOTER________________ */

.footer .logo {
  color: var(--title-white-color);
}

.footer {
  background-color: var(--background-secondary-color);
}

.address {
  font-style: normal;
}
.address-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--title-white-color);
}

.address-list-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/* _____________________PORTFOLIO________________ */


.btn-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  background: var(--background-tertiary-color);
  cursor: pointer;
}

.btn-btn:hover,
.btn-btn:focus {
  background-color: var(--accent-color);
  color: var(--title-white-color);
}


.post-list-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
}
.post-list-text {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
